# "Python basics"
> "파이썬 기초"

- toc:true
- branch: master
- badges: true
- comments: true
- author: SUIN KANG
- categories: [jupyter, python]

#### python basics

In [1]:
#for x in array:
#    if x < pivot:
#        less.append(x)
#    else:
#        greater.append(x)

#### 함수 및 개체 메서드 호출

In [2]:
# result = f(x,y,z)
# g()

# obj.some_method(x,y,z)
# result = f(a,b,c,d=5,e = 'foo')

#### 변수 및 인수 전달

In [3]:
a = [1,2,3]

In [4]:
b = a

In [5]:
a.append(4)
b

[1, 2, 3, 4]

In [6]:
def append_element(some_list, element):
    some_list.append(element)
    
data = [1,2,3]
    
append_element(data,4)
data

[1, 2, 3, 4]

#### type관련

In [7]:
a = 5
type(a)

int

In [8]:
a = 'foo'
type(a)

str

In [9]:
'5'+5 # 문자와 숫자는 연산할 수 없음

TypeError: can only concatenate str (not "int") to str

In [10]:
a = 4.5
b = 2
#String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a),type(b)))
a/b

a is <class 'float'>, b is <class 'int'>

2.25

In [11]:
a = 5
isinstance(a, int)

True

In [12]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

#### 속성 및 메소드
-파이썬의 객체는 일반적으로 속성(객체 "내부"에 저장된 다른 파이썬 객체)과 메소드(객체의 내부 데이터에 액세스할 수 있는 객체와 관련된 함수)를 모두 가지고 있습니다.
둘 다 obj.attribute_name구문을 통해 액세스됩니다

In [13]:
a = 'foo'

In [14]:
#a.<Press Tab> a에 커서 놓은 채로 탭 누르면 쓸 수 있는게 나옴

In [15]:
a.upper()

'FOO'

#### 속성 및 메서드는 getattr 함수를 통해 이름으로 액세스할 수도 있습니다

In [16]:
getattr(a, 'split')

#### Duck typing

In [17]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # 반복 가능하지 않다
        return False

In [18]:
isiterable('a string')

True

In [19]:
isiterable([1,2,3])

True

In [20]:
isiterable(5)

False

#### module만들기
- 원주율 이용해서 `some_module`만들기
- module을 만들 때는 jupyter에서 new클릭 후 text파일을 열어서 확장자를 py로 저장

```
PI = 3.14159

def f(x):
    return x+2
def g(a,b):
    return a+b
```
같은 디렉토리에 있는 다른 곳에서 some_module.py에 정의된 변수와 함수에 액세스 하려면 다음을 수행할 수 있다.

In [21]:
import some_module
result = some_module.f(5)
result

7

In [22]:
pi = some_module.PI
pi

3.14159

In [23]:
# 위와 같이 활용하기
from some_module import f,g,PI
result = g(5,PI)
result

8.14159

#### 이항 연산자 및 비교

In [24]:
a = [1,2,3]
b =a
c = list(a)
a is b

True

In [25]:
a is not c

True

list는 항상 새로운 python list(복사본)를 생성하므로 c가 와 구별된다는 것을 알 수 있다.
'is'와 비교하는 것은 '==' 연산자와 같지 않다. 밑을 참고

In [29]:
a == c

False

In [30]:
a = None
a is None

True

#### 변경 가능한 객체와 변경 불가능한 객체
list, dictionary, Numpy array 및 대부분의 사용자 정의 유형(클래스)과 같은 python의 대부분의 객체는 변경할 수 있다. 이는 포함된 개체 또는 값을 수정할 수 있음을 의미

In [31]:
a_list = ['foo',2,[4,5]]
a_list[2]
a_list

['foo', 2, [4, 5]]

문자열 및 튜플과 같은 기타항목은 변경할 수 없다.

In [32]:
# 오류나는 코드(튜플은 변경할 수 없기때문)
a_tuple = (3,5,(4,5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

#### 스칼라 유형
숫자
파이썬에서 숫자 기본 유형은 int와 float이며 int는 임의로 큰 숫자를 저장할 수 있음

In [35]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [36]:
3/2

1.5

In [37]:
type(3/2)

float

In [38]:
type(3//2)

int

#### 문자열
- `''`
- `""`
- `''''''`
- `""""""`

In [39]:
c = """
This is a longer string that
spans multiple lines
"""

In [40]:
c

'\nThis is a longer string that\nspans multiple lines\n'

In [41]:
c.count("\n") # c의 \n 개수 세기

3

In [42]:
# 문자열을 수정할 수 없음(오류남)
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [44]:
b = a.replace('string','longer string') # a의 string을 longer string으로 바꾸기
b

'this is a longer string'

In [46]:
a

'this is a string'

str함수를 사용하여 많은 파이썬 객체를 문자열로 변환할 수 있습니다.

In [3]:
a = 5.6
s = str(a)
print(s)

5.6

문자열은 유니코드 문자의 시퀀스이므로 list 및 튜플과 같은 다른 시퀀스처럼 처리될 수 있다.

In [5]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [6]:
s[:3]

'pyt'

s[:3]은 슬라이싱이라고 하며 많은 종류의 파이썬 시퀀스에 대해 구현된다.
백슬래시 문자(\)는 이스케이프 문자로 유니코드 문자와 같은 특수 문자를 지정하는데 사용된다. 
백슬래시가 있는 문자열 리터럴을 작성하려면 백슬래시를 이스케이프해야한다.

In [9]:
print('12\n34')

12
34

In [10]:
s = '12//34'
print(s)

12//34

두 문자열을 함께 추가하면 두 문자열이 연결되어 새 문자열이 생성된다.

In [11]:
a = 'this is the first half'
b = 'and this is the second half'
a+b

'this is the first halfand this is the second half'

문자열 포메팅
문자열 객체에는 형식이 지정된 인수를 문자열로 대체하여 새 문자열을 생성하는데 사용할 수 있는 대체에 사용할 수 있는 형식 메서드가 있다.
문자열 객체에는 형식이 지정된 인수를 문자열로 대체하여 새 문자열을 생성하는 데 사용할 수 있는 대체에 사용할 수 있는 형식 메서드가 있다.

In [12]:
template = '{0:2f}{1:s} are worth US${2:d}'
template

'{0:2f}{1:s} are worth US${2:d}'

- {0:f}는 첫번째 인수의 형식을 소수점 2자리 부동 소수점 숫자로 지정하는 것을 의미
- {1:s}는 두 번째 인수의 형식을 문자열로 지정
- {2:d}는 세 번째 인수의 형식을 정확한 정수로 지정하는 것을 의미

In [13]:
template.format(4.5560,'Argentine Pesos', 1)

'4.556000Argentine Pesos are worth US$1'

In [14]:
template.format(1263.23, 'won', 1)

'1263.230000won are worth US$1'

#### Booleans
```
python의 2개의 부울 값은 TRUE값과 FALSE로 작성한다.
비교및 기타 조건 식은 True 또는 False로 평가된다.
부울 값은 and와 or키워드와 조합된다.
```

In [15]:
True and True

True

In [16]:
False or True

True

#### Type casting
str, bool, int, float 타입도 값을 캐스팅하는데 사용할 수 있는 함수다.

In [17]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [18]:
int(fval)

3

In [19]:
bool(fval)

True

In [20]:
bool(0)

False

#### None
```
None은 python null값 유형이다.
함수가 명시적으로 값을 반환하지 않으면 암묵적으로 None을 반환합니다.
```

In [22]:
a = None
a is None

True

In [23]:
b = 5
b is not None

True

none은 함수 인수의 일반적인 기본값이기도 함

In [24]:
def add_and_maybe_multiply(a,b,c=None):
    result = a+b
    
    if c is not None:
        result = result * c
        
    return result

In [25]:
add_and_maybe_multiply(5,3)

8

In [26]:
add_and_maybe_multiply(5,3,10)

80

#### 데이터와 시간
내장된 python datetime 모듈은 datetime, 날짜 및 시간 유형을 제공한다.
datetime유형은 예상대로 날짜와 시간에 저장된 정보를 조합하여 가장 일반적으로 사용된다.

In [27]:
from datetime import datetime, date, time
dt = datetime(2011,10,29,20,30,21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [28]:
dt.day

29

In [29]:
dt.minute

30

지정된 datetime 인스턴스에서 동일한 이름의 datetime 메서드를 호출하여 동일한 날짜 및 시간 개체를 추출할 수 있다.

In [30]:
dt.date()

datetime.date(2011, 10, 29)

In [31]:
dt.time()

datetime.time(20, 30, 21)

strftime메서드는 datetime을 문자열로 포맷한다.

In [32]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [34]:
dt.strftime('%Y/%m/%d %H:%M')

'2011/10/29 20:30'

strptime 함수를 사용하여 문자열을 datetime 개체로 변환할 수 있다.

In [35]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

시계열 데이터를 집계하거나 그룹화할 때, 예를 들어 분, 초를 0으로 바꾸는 등 일련의 데이터 시간 필드를 바꾸는 것이 유용할 수 있다.

In [36]:
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [37]:
dt2 = datetime(2011,11,15,22,30)
delta = dt2-dt
delta

datetime.timedelta(days=17, seconds=7179)

In [38]:
type(delta)

datetime.timedelta

In [39]:
dt
dt+delta

datetime.datetime(2011, 11, 15, 22, 30)

#### control Flow(흐름제어)
```
python에는 다른 프로그래밍 언어에서 볼 수 있는 조건부 논리, 루프 및 기타 표준 제어 흐름 개념에 대한 몇 가지 키워드가 내장되어 있습다.

if, elif, other

if문은 가장 잘 알려진 제어문 중 하나이다. True일 경우 다음 볼록의 코드를 평가하는 조건을 체크한다.
```

In [41]:
x = -5
if x<0:
    print('It is negative')

It is negative

모든 조건이 False일 경우 if 문 뒤에 하나 이상의 elif 블록과 catch all other블록을 선택적으로 사용할 수 있다.

In [43]:
x = -5
if x<0:
    print('It is negative')
elif x == 0:
    print('Equal to zero')
elif 0<x<5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

It is negative

```
어느 하나의 조건의 True일 경우 더이상의 elif 또는 다른 블록에 도달하지 않는다.
and나 or을 사용하는 복합 조건의 경우 조건은 왼쪽에서 오른쪽으로 평가되며 단락된다.
```

In [44]:
a = 5; b=7
c=8; d=4
if a<b or c>d:
    print('Made it')

Made it

```
이 예에서는 첫번째 비교가 True였기 때문에 c>d의 비교는 평가되지 않는다.
연쇄비교도 가능하다.
```

In [45]:
4>3>2>1

True

In [46]:
3>5 or 2>1

True

In [47]:
3>5>2>1

False

#### for loops
```
루프는 컬렉션(리스트나 튜플 등) 또는 반복문으로 반복하기 위한 것이다.
for 루프의 표준구문은 아래와 같다.
for value in collection:
    # do something with value
continue 키워드를 사용하면 for루프를 다음 반복으로 진행하여 블록의 나머지 부분을 건너뛸 수 있다.
list의 정수를 집계하고 None값을 건너뛴다.
```

In [48]:
# None과 int값은 연산할 수 없음
sequence = [1,2,None, 4, None, 5]
total = 0

for value in sequence:
    total+=value

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [49]:
sequence = [1,2,None,4,None,5]
total = 0

for value in sequence:
    if value is None:
        continue
    total +=value

In [50]:
total

12

for루프는 break키워드를 사용하여 모두 종료할 수 있다.
이 코드는 5에 도달할 때까지 list의 요소를 합산한다.

In [52]:
sequence = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [53]:
total_until_5

13

break키워드는 가장 안쪽의 for루프만 종료한다. 루프 바깥쪽은 계속 실행된다.

In [54]:
for i in range(4):
    for j in range(4):
        if j>i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

```
자세한 내용은 컬렉션 또는 반복문 내의 요소가 시퀀스(튜플 또는 리스트 등)인 경우 쉽게 for loop상태의 변수로 압축해제할 수 있다.
for a,b,c in iterator:
    # do something
```

In [55]:
for a,b,c in [[1,2,3],[4,5,6],[7,8,9]]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

#### while loops
while loop는 조건과 조건이 False로 평가되거나 루프가 명시적으로 break로 종료할 때까지 실행되는 코드 븍록을 지정한다.

In [56]:
x = 256
total = 0
while x>0:
    if total>500:
        break
    total += x
    x = x//2

In [57]:
total

504

In [60]:
x

4

In [58]:
256+128+64+32+16+8

504

#### pass
pass는 python에서 "no-op"(No Operation) 상태이다. 이는 액션이 수행되지 않는 블록(또는 아직 구현되지 않은 코드의자리 표시자)에서 사용할 수 있다. python은 블록을 구분하기 위해서 공백공간을 사용하기 때문에 들여쓰기가 필요함

In [61]:
x = -1
if x<0:
    print('negative!')
elif x == 0:
    #TODO: put something smart here
    pass
else:
    print('positive')

negative!

range함수는 균일한 간격의 정수 시퀀스를 생성하는 반복문을 반환한다

In [62]:
range(10)

range(0, 10)

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

시작, 종료 및 단계(음수일 수 있음)를 모두 지정할 수 있다.

In [64]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [65]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

위와 같이 범위를 지정하면 끝점을 포함하지 않는 정수가 생성된다.
범위를 일반적으로 사용하면 인덱스로 시퀀스를 반복할 수 있다.

In [66]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val = seq[i]

In [67]:
val

4

list와 같은 함수를 사용하여 범위별로 생성된 모든 정수를 다른 데이터구조에 저장할 수 있지만 종종 기본 반복문 형식이 된다.
여기서는 3 또는 5의 배수인 0~99999의 모든 수치를 집계하고 있다.

In [68]:
sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary expressions
```
value = true-expr if condition else false-expr
여기서 true-expr 및 false-expr은 임의의 python식입니다. 

if condition:
    value = true-expr
else:
    value = false-expr
```

In [69]:
x=5
'Non-negative' if x>= 0 else 'Negative'

'Non-negative'

In [70]:
x = 5
a = 100 if x>=0 else -100
a

100